@model IEnumerable<BizsolTechAssessment.Models.DBModels.Developer>

@{
    ViewData["Title"] = "Developers";
}

<h1>Developers List</h1>

<p>
    <a class="btn btn-primary" asp-action="AddDeveloper" asp-controller="Developers">Add Developer</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                #.
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int serialNo = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @serialNo
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobTitle)
                </td>
            </tr>
            serialNo++;
        }
    </tbody>
</table>
